################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Prog_lab11_cpp/Prog_lab11_cpp.vcxproj.user
/Prog_lab11_cpp/Prog_lab11_cpp.vcxproj.filters
/Prog_lab11_cpp/Prog_lab11_cpp.vcxproj
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/Browse.VC.opendb
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/Browse.VC.db-wal
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/Browse.VC.db-shm
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/Browse.VC.db
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/ipch/AutoPCH/7a23d174e2b9781f/MAIN.ipch
/Prog_lab11_csharp/Prog_lab11_csharp.csproj
/Prog_lab11_csharp/obj/Debug/Prog_lab11_csharp.csproj.AssemblyReference.cache
/Prog_lab11_csharp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Prog_lab11_csharp/App.config
/Prog_lab11_csharp/.vs/Prog_lab11_csharp/v16/.suo
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/.suo
/Prog_lab11_csharp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Prog_lab11_csharp/obj/Debug/Prog_lab11_csharp.pdb
/Prog_lab11_csharp/obj/Debug/Prog_lab11_csharp.exe
/Prog_lab11_csharp/obj/Debug/Prog_lab11_csharp.csproj.FileListAbsolute.txt
/Prog_lab11_csharp/obj/Debug/Prog_lab11_csharp.csproj.CoreCompileInputs.cache
/Prog_lab11_csharp/bin/Debug/Prog_lab11_csharp.pdb
/Prog_lab11_csharp/bin/Debug/Prog_lab11_csharp.exe.config
/Prog_lab11_csharp/bin/Debug/Prog_lab11_csharp.exe
/Prog_lab11_cpp/Debug/vc142.pdb
/Prog_lab11_cpp/Debug/vc142.idb
/Prog_lab11_cpp/Debug/Teacher.obj
/Prog_lab11_cpp/Debug/Student.obj
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.vcxproj.FileListAbsolute.txt
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/Prog_lab11_cpp.lastbuildstate
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/link.write.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/link.read.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/link.command.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/CL.write.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/CL.read.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.tlog/CL.command.1.tlog
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.pdb
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.log
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.ilk
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.exe.recipe
/Prog_lab11_cpp/Debug/Prog_lab11_cpp.exe
/Prog_lab11_cpp/Debug/main.obj
/Prog_lab11_cpp/Debug/Human.obj
/Prog_lab11_cpp/Debug/Fio.obj
/Prog_lab11_cpp/Debug/Faculty.obj
/Prog_lab11_cpp/.vs/Prog_lab11_cpp/v16/ipch/AutoPCH/c722c7eed6909a19/HUMAN.ipch
